<div id="templatemo_sidebar"><span class="sidebar_top"></span><span class="sidebar_bottom"></span>
    <h2 class="current_activities">Current Activities</h2>        
    <div class="activities_box">
        <a href="#">Visualart CMS.</a>
        <p>Developing the app, with associated with Tom. </p>
    </div>        
    <div class="activities_box">
        <a href="#">Regia. </a>
        <p>Developing brf apartment alone for Tom.</p>
    </div>        
    <div class="activities_box">
        <a href="#">PinkCloud</a>
        <p>Doing little activities to support Rahul. </p>
    </div>        
</div>