<div id="templatemo_content_wrapper_outer">
	<div id="templatemo_content_wrapper_inner">
    <div id="templatemo_content_wrapper">
    	<div id="templatemo_content">
        	<h2 class="our_services">Camera Services</h2>
          <p>Photographer's  <a href="http://www.templatemo.com" target="_parent">CSS template</a> is provided by <a href="http://www.templatemo.com/page/1" target="_parent">templatemo.com</a> for free of charge. Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>. You may download, edit and use this web layout for your websites. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.</p>
          <ul>
            	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nibh justo.</li>
              <li><a href="http://www.flashmo.com" target="_parent">Flash Templates</a> - Cras odio nulla, aliquam vel tincidunt vel, suscipit nec dui.</li>
              <li>Quisque sodales accumsan cursus. In at metus massa. Phasellus ut lorem eget augue.</li>
                <li>Etiam ultricies arcu id ante facilisis euismod non vitae mi. Vestibulum id quam nulla.</li>
          </ul>  
          <div class="cleaner_h20">
          </div>
          <h2 class="about_us">About Our Studio</h2>
          <p>Tincidunt vitae, sagittis vel, interdum at, erat. Duis vitae velit. Ut ultricies. Fusce sollicitudin nisl a lectus. Pellentesque odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed leo. <a href="#">Duis suscipit</a> lorem in risus.</p>   
      </div>
    </div>
  </div>
</div>