<form action="#" method="get">
   <input type="text" value="" name="username" size="10" id="input_field" title="usernmae" />
   <input type="submit" name="login" value="Search" alt="login" id="submit_btn" title="Login" />
</form>                
<div class="cleaner"></div>