<!-- <form action="#" method="get">
   <input type="text" value="" name="username" size="10" id="input_field" title="usernmae" />
   <input type="submit" name="login" value="Search" alt="login" id="submit_btn" title="Login" />
</form> -->                
<div class="sign_in"><%=link_to "Sign in",new_user_session_path%></div>
<div class="cleaner"></div>

<style type="text/css">
.sign_in{float:right;margin-right: -120px;}
</style>