<div id="templatemo_welcome_wrapper">
	<div id="templatemo_welcome">   
		<div id="welcome_image"> <span></span> <img src="/assets/templatemo_image_01.jpg" alt="image" /> </div> 
        <div id="welcome_text">
        	<h1>Dhanabal Thangavel</h1>
            <p>Working as a ruby on rails developer in TTPL. Having an experience of 2 year 3 months in the same technology. Interested to do the new things...</p>
            <div class="button_01"><a href="#"><span></span>Vew Portfolio</a></div> 
            <div class="button_01"><a href="#"><span></span>View Projects</a></div>
        </div>
    </div>
</div>